{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

<section id="slider">
  {% for key, wide_contents in elements.content.wide_content %}
    {% if loop.index == '1' %}
      {% set attribute = 'checked' %}
    {% else %}
      {% set attribute = '' %}
    {% endif %}
    <input type="radio" name="slider" id="s{{ key }}" {{ attribute }}>
  {% endfor %}

  {% for key, wide_contents in elements.content.wide_content %}
     <label for="s{{ key }}" id="slide{{ key }}">
      <div class="wide-anim">
      {% if wide_contents.wide_link or wide_contents.wide_title %}
        <h3 class="anim-title"><a href={{ wide_contents.wide_link }}>{{ wide_contents.wide_title }}</a></h3>
      {% endif %}
       <img src="{{ wide_contents.wide_image }}" alt="Wide Animation Slider Images"/>
      </div>
    </label>
  {% endfor %}
</section>
